<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
  <h1>Сброс пароля</h1>

  <form method="post" role="form" th:action="@{/password_reset}">
      <label for="email"></label>
      <input id="email"
             name="email"
             placeholder="Email"
             type="email"/>

      <button type="submit">Сбросить пароль</button>
  </form>

  <style>
      .success {
          color: #4CAF50;
          background-color: #e7f3eb;
          padding: 15px;
          margin-bottom: 20px;
          border: 1px solid #d2e7d0;
          border-radius: 5px;
      }
  </style>

  <div th:if="${error}" class="error">
      <p th:text="${error}"></p>
  </div>

  <div th:if="${success}" class="success">
      <p th:text="${success}"></p>
  </div>

</body>
</html>