<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recording Page</title>

    <style>
        #audioPlayer {
            width: 100%;
            margin-top: 20px;
            background-color: #f4f4f4;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        #audioPlayer audio {
            width: 80%;
        }
    </style>
</head>
<body>
    <h2>Audio Recording Page</h2>

    <button id="recordButton" onclick="toggleRecording()">Начать запись</button>
    <button id="playRecord" onclick="togglePlayPause()" disabled>Воспроизвести запись</button>
    <button id="saveRecord" onclick="saveRecording()" disabled>Сохранить запись</button>

    <p id="message" style="color: green"></p>
    <p id="error" style="color: red"></p>

    <audio id="audioPlayer" controls></audio>

    <table id="fileTable">

        <thead>
        <tr>
            <th>File Name</th>
            <th>Size MB</th>
            <th>Click To Download</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="file: ${files}">
            <td th:text="${file.fileName}"></td>
            <td th:text="${file.size}"></td>
            <td><a th:href="${file.downloadURL}" th:text="${file.downloadURL}">Download File</a></td>
        </tr>
        </tbody>

    </table>

    <a th:href="@{/upload_file}">Upload File</a>
    <a th:href="@{/personal_page}">Personal Page</a>

    <script>
        let mediaRecorder;
        let audioChunks = [];
        let isPlaying = false;
        const recordButton = document.getElementById('recordButton');
        const playRecordButton = document.getElementById('playRecord');
        const saveRecordButton = document.getElementById('saveRecord');
        const audioPlayer = document.getElementById('audioPlayer');
        const messageElement = document.getElementById('message');
        const errorElement = document.getElementById('error');

        function toggleRecording() {
            if (!mediaRecorder || mediaRecorder.state === 'inactive') {
                startRecording();
            } else {
                stopRecording();
            }
        }

        function startRecording() {
            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(stream => {
                    mediaRecorder = new MediaRecorder(stream);
                    mediaRecorder.ondataavailable = event => {
                        if (event.data.size > 0) {
                            audioChunks.push(event.data);
                        }
                    };

                    mediaRecorder.onstop = () => {
                        recordButton.disabled = false;
                        playRecordButton.disabled = false;
                        saveRecordButton.disabled = false;
                        messageElement.textContent = 'Recording stopped.';
                        audioPlayer.src = URL.createObjectURL(new Blob(audioChunks, { type: 'audio/wav' }));
                    };

                    recordButton.disabled = false;
                    playRecordButton.disabled = true;
                    saveRecordButton.disabled = true;
                    messageElement.textContent = 'Recording...';
                    errorElement.textContent = '';

                    mediaRecorder.start();
                    recordButton.innerHTML = "Завершить запись";
                })
                .catch(error => {
                    console.error('Error accessing microphone:', error);
                    errorElement.textContent = 'Error accessing microphone: ' + error.message;
                });
        }

        function stopRecording() {
            mediaRecorder.stop();
            recordButton.innerHTML = "Начать запись";
        }

        function togglePlayPause() {
            if (audioPlayer.paused || audioPlayer.ended) {
                audioPlayer.play();
                playRecordButton.innerHTML = "Пауза";
            } else {
                audioPlayer.pause();
                playRecordButton.innerHTML = "Продолжить";
            }

            isPlaying = !isPlaying;

            audioPlayer.onended = function() {
                playRecordButton.innerHTML = "Возобновить";
                isPlaying = false;
            };
        }

        function saveRecording() {
            const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
            const formData = new FormData();
            formData.append('multipartFile', new File([audioBlob], 'rec.wav'));

            fetch('/record/save', {
                method: 'POST',
                body: formData,
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(data => {
                    const redirectUrl = data.trim();
                    if (redirectUrl.startsWith('redirect:')) {
                        window.location.href = redirectUrl.substring('redirect:'.length);
                    } else {
                        messageElement.textContent = '';
                        location.reload();
                    }
                })
                .catch(error => {
                    errorElement.textContent = 'Error saving file: ' + error.message;
                });

            audioChunks = [];
            saveRecordButton.disabled = true;
        }
    </script>
</body>
</html>