<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Восстановление пароля</title>
</head>
<body>
    <h1>Восстановление пароля</h1>

    <form method="post" role="form" th:action="@{'/password_recovery/' + ${token}}" id="passwordRecoveryForm">
        <input type="hidden" name="token" th:value="${token}" />

        <label for="password"></label>
        <input id="password"
               name="password"
               placeholder="Пароль"
               type="password"
               required/>

        <label for="confirmPassword"></label>
        <input id="confirmPassword"
               name="confirmPassword"
               placeholder="Подтвердите пароль"
               type="password"
               required/>

        <button type="submit">Восстановить пароль</button>
    </form>

    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>

</body>
</html>