<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>
  <h2>Registration</h2>
  <div th:if="${param.success}">
    <div>You have successfully registered our app!</div>
  </div>
  <br/>
  <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
    <label for="login"></label>
    <input id="login"
           name="login"
           placeholder="Enter login"
           th:field="*{login}"
           type="text"/>
      <p th:errors = "*{login}" th:if="${#fields.hasErrors('login')}"></p>

    <label for="email"></label>
    <input id="email"
           name="email"
           placeholder="Enter email address"
           th:field="*{email}"
           type="email"/>
      <p th:errors = "*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>

    <label for="password"></label>
    <input id="password"
           name="password"
           placeholder="Enter password"
           th:field="*{password}"
           type="password"/>
    <p th:errors = "*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>

    <button type="submit">Register</button>
    <br/>
    <span>Already registered?<a th:href="@{/login}">Login</a></span>
  </form>

</body>
</html>