<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>
<body>

  <h2>Registration</h2>

  <br/>

  <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">
    <label for="login"></label>
    <input id="login"
           name="login"
           placeholder="Enter login"
           th:field="*{login}"
           type="text"/>

    <label for="email"></label>
    <input id="email"
           name="email"
           placeholder="Enter email address"
           th:field="*{email}"
           type="email"/>

    <label for="password"></label>
    <input id="password"
           name="password"
           placeholder="Enter password"
           th:field="*{password}"
           type="password"/>

    <button type="submit">Register</button>

    <br/>

    <p th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

    <span>Already registered? <a th:href="@{/login}">Login</a></span>

  </form>

  <br/>

  <div th:if="${param.success}">
    <div> You have successfully registered our app! Now you can login </div>
  </div>

</body>
</html>
